<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UI Kit Template &#10022; Hero</title>
        <link rel="stylesheet" href="../../assets/css/base/variables.css" />
        <link rel="stylesheet" href="../../assets/css/base/custom-variables.css" />
        <link rel="stylesheet" href="../../assets/css/main.css" />
    </head>
    <body>
        <main class="dr-page__wrapper" style="max-width: none">
            <!-- Template Presentation Card -->
            <div class="dr-card__frame">
                <div class="dr-card__wrapper">
                    <div class="dr-card__header">
                        <div class="dr-card__header-brand">
                            <a href="../../index.html">
                                <img src="../../assets/img/coiditerasfatate-logo-text.svg" alt="Logo Marca" />
                            </a>

                            <div class="dr-card__header-brand-description">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" fill="none" focusable="false" aria-hidden="true" role="img">
                                    <path
                                        d="M4.04842 0.0336074L4.08455 0.1319C4.13079 0.256211 4.17993 0.380522 4.23485 0.500497C4.43862 0.961604 4.69443 1.3938 4.99503 1.78842C5.72487 2.74532 6.71629 3.48975 7.86812 3.91616L7.9664 3.9523C8.0112 3.9682 8.0112 4.0318 7.9664 4.04915L7.86812 4.08528C6.71195 4.51314 5.7162 5.26046 4.98636 6.22315C4.6872 6.61921 4.4314 7.0514 4.22907 7.51396C4.17704 7.63104 4.12935 7.74957 4.08455 7.86954L4.04842 7.96639C4.03252 8.0112 3.96893 8.0112 3.95159 7.96639L3.91546 7.86954C3.84608 7.68308 3.76804 7.4995 3.68133 7.32171C3.21886 6.35468 2.52371 5.52642 1.66525 4.90487C1.19989 4.56663 0.683949 4.2891 0.131876 4.08528L0.0336013 4.04915C-0.0112004 4.0318 -0.0112004 3.9682 0.0336013 3.9523L0.131876 3.91616C0.68973 3.70946 1.20856 3.42904 1.67826 3.08646C2.52516 2.47068 3.21308 1.6511 3.67266 0.698527C3.76226 0.514952 3.84319 0.325594 3.91546 0.1319L3.95159 0.0336074C3.96893 -0.0112025 4.03252 -0.0112025 4.04842 0.0336074Z"
                                        fill="currentColor"
                                    />
                                </svg>

                                <span class="small">UI Kit and Design System</span>
                            </div>
                        </div>

                        <div class="dr-card__header-title">
                            <h1>Hero</h1>

                            <div class="dr-card__header-description">
                                <span>Aici o să fie o descriere</span>
                            </div>
                        </div>
                    </div>

                    <hr class="hr-divider" />

                    <div class="dr-card__body flex-col gap-32_64">
                        <!-- start hero -->
                        <div class="hero__wrapper">
                            <div class="hero__container">
                                <!-- Container 1 -->
                                <div class="hero__blob">
                                    <div class="hero__image">
                                        <img src="../../assets/img/scottie-profile-square.jpeg" alt="Hero Image" />
                                    </div>
                                </div>

                                <!-- Container 2 -->
                                <div class="hero__content">
                                    <div class="hero__title">
                                        <h1 class="display-1">
                                            Pisica ta merită o
                                            <span class="italic color-pink-700">vacanță la fel de bună</span>
                                            ca a ta
                                        </h1>

                                        <p class="h5 font-semibold color-gray-600 balance">Servicii profesionale de cat-sitting la domiciliu, oferite cu drag de o familie de iubitori de feline.</p>
                                    </div>

                                    <div class="actions__container gap-16_24">
                                        <a href="#" class="btn">Contactează-ne</a>
                                        <a href="#" class="btn btn--outline">Vezi serviciile noastre</a>
                                    </div>

                                    <div class="flex-row flex-wrap gap-16">
                                        <div class="tag__container cyan">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="tag__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" role="img" focusable="false">
                                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                                                <circle cx="12" cy="10" r="3" />
                                            </svg>

                                            <span class="tag__label font-semibold">SUCEAVA</span>
                                        </div>

                                        <div class="tag__container yellow">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="tag__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" role="img" focusable="false">
                                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                                                <circle cx="12" cy="10" r="3" />
                                            </svg>

                                            <span class="tag__label font-semibold">IPOTEȘTI</span>
                                        </div>

                                        <div class="tag__container violet">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="tag__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" role="img" focusable="false">
                                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                                                <circle cx="12" cy="10" r="3" />
                                            </svg>

                                            <span class="tag__label font-semibold">BOSANCI</span>
                                        </div>

                                        <div class="tag__container blue">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="tag__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" role="img" focusable="false">
                                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                                                <circle cx="12" cy="10" r="3" />
                                            </svg>

                                            <span class="tag__label font-semibold">SFÂNTU ILIE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end hero -->
                    </div>
                </div>
            </div>
        </main>

        <script src="../../assets/js/header.js"></script>
    </body>
</html>
